.booking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.booking-container h1 {
    background-color: #495E57;
    width: 100%;
    color: white;
    padding: 5dvb;
}

.booking-form {
    display: grid;
    gap: 10px;
    padding: 2rem;
}

.booking-container .reservation-submit {
    background-color: #F4CE14;
    border-style: none;
    padding: 0.75rem 5rem;
    margin: 1rem 0;
}