.unavailable-container {
    display: column;
}

.unavailable-title {
    background-color: #495E57;
    color: white;
    text-align: center;
    padding: 5dvb;
}

.unavailable-text {
    text-align: center;
    padding: 3rem;
    height: 40vh;
}