footer {
    background-color: #495E57;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContainer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    align-items: stretch;
    margin: 2rem 0;
    width: 75%;
}

.footerImage {
    padding: 1rem 2rem;
}

.footerContainer nav {
    padding: 0 2rem;
}

.footerContainer ul {
    list-style-type: none;
    padding: 0;
}

.footerContainer li {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    padding: 4px 0;
}

.footerContainer a {
    text-decoration: none;
    color: white;
}