header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding: 1rem 2rem;
}

.navContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.navContent > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.navContent li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 38px 1rem;
}