.testimonials-container > h1 {
    padding-bottom: 3rem;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #EDEFEE;
    border-radius: 16px;
    padding: 1rem;
    color: black;
}

.testimonial-card p{
    display: flex;
    flex-direction: column;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #696969;
}

.testimonial-author {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.testimonial-author > img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 1rem;
    color: #495E57;
    filter: brightness(0.8);
}

.testimonial-author > p {
    font-weight: 600;
    font-size: 20px;
    margin: 0.5rem 0 1rem 0;
    color: #495E57;
}

.testimonial-rating {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    line-height: 20px;
}

.testimonial-rating > span {
    color: #EE9972;
    font-size: 20px;
}

.testimonial-review {
    text-align: justify;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5rem;
}

